gallery-container{
    max-width: 1200px;
    margin-left: 100px;
    padding-left: 3rem;
}

.vh-100{
    min-height: 100vh;
}

.gallery-padding{
    padding: 1rem 10rem 1rem 8rem;
}

.btn-down{
    font-size: 3rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 3rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}
.title h2::after{
    position: absolute;
    content: "";
    top: 120%;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--dark-color);
}

.portfolio-grid > div{
    transition: var(--transition);
}
.portfolio-grid > div:hover{
    transform: scale(1.1);
}

@media(min-width: 576px){
    .title h2{
        font-size: 2rem;
    }
    
    .portfolio-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .portfolio-grid > div{
        height: auto;
        overflow: hidden;
        padding: 0;
    }
    .portfolio-grid > div img{
        height: auto;
        object-fit: cover;
    }
    
}

@media(min-width: 1200px){
    .portfolio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .portfolio-grid > div:nth-child(2){
        grid-column: auto;
    }
    .portfolio-grid > div:nth-child(6){
        grid-column: auto;
    }
}

img{
    width: 100%;
    display: block;
}